<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Nama Llama</title>

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>  
<script type="text/javascript" src="js/turtles.js"></script>  
  <script type="text/javascript" src="/path/to/jquery.tablesorter.js"></script>

 <!-- Bootstrap -->
<link href="library/bootstrap/css/bootstrap.min.css" rel="stylesheet">

 <!-- Your styles go in here-->
            <link href="css/style.css" rel="stylesheet"/>

 
    
</head>
<body>

 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="index.php">Your Roof Is On Fire</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
                <li class="<?php echo $activeProperty ?>"><a href="index.php">Property</a></li>
              <li class="<?php echo $activeHome ?>"><a href="admin.php">Home</a></li>
            
             <li  class=""><a href="login.php">Login</a></li> 
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>